<a href="https://colab.research.google.com/github/adamazanos/korelasi_ipm_rpttp100k/blob/main/korelasi_ipm_rpttp100k.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Analisa korelasi indeks pembangunan manusia dan kemungkinan terkena tindak pidana

mencari korelasi indeks pembangunan manusia dan kemungkinan terkena tindak pidana (per 100rb pernduduk)

data set yang di gunakan adalah

---

Risiko Penduduk Terkena Tindak Pidana Per 100k Penduduk

SINGKATAN  = RPTTP100K 

DITARIK MENGGUNAKAN TABEL DINAMIS

LINK = https://www.bps.go.id/indicator/34/299/1/risiko-penduduk-terkena-tindak-pidana-per-100-000-penduduk-.html

---

Indeks Pembangunan Manusia menurut Provinsi

SINGKATAN = IPM

DITARIK MENGGUNAKAN TABEL DINAMIS

LINK = https://www.bps.go.id/indicator/26/494/1/-metode-baru-indeks-pembangunan-manusia-menurut-provinsi.html

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Data Indeks Pembangunan Manusia

In [28]:
#data_ipm = pd.read_excel('/content/IPM.xlsx')
data_ipm = pd.read_csv('https://raw.githubusercontent.com/adamazanos/korelasi_ipm_rpttp100k/main/Indeks%20Pembangunan%20Manusia%20menurut%20Provinsi/EDITED%20IPM/IPM.csv' , sep=';')
data_ipm

,Provinsi,IPM 2022,IPM 2021,IPM 2020,IPM 2019,IPM 2018,IPM 2017,IPM 2016,IPM 2015,IPM 2014,IPM 2013,IPM 2012,IPM 2011
0,ACEH,72.80,72.18,71.99,71.90,71.19,70.60,70.00,69.45,68.81,68.30,67.81,67.45
1,SUMATERA UTARA,72.71,72.00,71.77,71.74,71.18,70.57,70.00,69.51,68.87,68.36,67.74,67.34
2,SUMATERA BARAT,73.26,72.65,72.38,72.39,71.73,71.24,70.73,69.98,69.36,68.91,68.36,67.81
3,RIAU,73.52,72.94,72.71,73.00,72.44,71.79,71.20,70.84,70.33,69.91,69.15,68.90
4,JAMBI,72.14,71.63,71.29,71.26,70.65,69.99,69.62,68.89,68.24,67.76,66.94,66.14
5,SUMATERA SELATAN,70.90,70.24,70.01,70.02,69.39,68.86,68.24,67.46,66.75,66.16,65.79,65.12
6,BENGKULU,72.16,71.64,71.40,71.21,70.64,69.95,69.33,68.59,68.06,67.50,66.61,65.96
7,LAMPUNG,70.45,69.90,69.69,69.57,69.02,68.25,67.65,66.95,66.42,65.73,64.87,64.20
8,KEP. BANGKA BELITUNG,72.24,71.69,71.47,71.30,70.67,69.99,69.55,69.05,68.27,67.92,67.21,66.59
9,KEP. RIAU,76.46,75.79,75.59,75.48,74.84,74.45,73.99,73.75,73.40,73.02,72.36,71.61
10,DKI JAKARTA,81.65,81.11,80.77,80.76,80.47,80.06,79.60,78.99,78.39,78.08,77.53,76.98
11,JAWA BARAT,73.12,72.45,72.09,72.03,71.30,70.69,70.05,69.50,68.80,68.25,67.32,66.67
12,JAWA TENGAH,72.79,72.16,71.87,71.73,71.12,70.52,69.98,69.49,68.78,68.02,67.21,66.64
13,DI YOGYAKARTA,80.64,80.22,79.97,79.99,79.53,78.89,78.38,77.59,76.81,76.44,76.15,75.93
14,JAWA TIMUR,72.75,72.14,71.71,71.50,70.77,70.27,69.74,68.95,68.14,67.55,66.74,66.06
15,BANTEN,73.32,72.72,72.45,72.44,71.95,71.42,70.96,70.27,69.89,69.47,68.92,68.22
16,BALI,76.44,75.69,75.50,75.38,74.77,74.30,73.65,73.27,72.48,72.09,71.62,70.87
17,NUSA TENGGARA BARAT,69.46,68.65,68.25,68.14,67.30,66.58,65.81,65.19,64.31,63.76,62.98,62.14
18,NUSA TENGGARA TIMUR,65.90,65.28,65.19,65.23,64.39,63.73,63.13,62.67,62.26,61.68,60.81,60.24
19,KALIMANTAN BARAT,68.63,67.90,67.66,67.65,66.98,66.26,65.88,65.59,64.89,64.30,63.41,62.35
20,KALIMANTAN TENGAH,71.63,71.25,71.05,70.91,70.42,69.79,69.13,68.53,67.77,67.41,66.66,66.38
21,KALIMANTAN SELATAN,71.84,71.28,70.91,70.72,70.17,69.65,69.05,68.38,67.63,67.17,66.68,65.89
22,KALIMANTAN TIMUR,77.44,76.88,76.24,76.61,75.83,75.12,74.59,74.17,73.82,73.21,72.62,72.02
23,KALIMANTAN UTARA,71.83,71.19,70.63,71.15,70.56,69.84,69.20,68.76,68.64,67.99,-,-
24,SULAWESI UTARA,73.81,73.30,72.93,72.99,72.20,71.66,71.05,70.39,69.96,69.49,69.04,68.31
25,SULAWESI TENGAH,70.28,69.79,69.55,69.50,68.88,68.11,67.47,66.76,66.43,65.79,65,64.27
26,SULAWESI SELATAN,72.82,72.24,71.93,71.66,70.90,70.34,69.76,69.15,68.49,67.92,67.26,66.65
27,SULAWESI TENGGARA,72.23,71.66,71.45,71.20,70.61,69.86,69.31,68.75,68.07,67.55,67.07,66.52
28,GORONTALO,69.81,69.00,68.68,68.49,67.71,67.01,66.29,65.86,65.17,64.70,64.16,63.48
29,SULAWESI BARAT,66.92,66.36,66.11,65.73,65.10,64.30,63.60,62.96,62.24,61.53,61.01,60.63
30,MALUKU,70.22,69.71,69.49,69.45,68.87,68.19,67.60,67.05,66.74,66.09,65.43,64.75
31,MALUKU UTARA,69.47,68.76,68.49,68.70,67.76,67.20,66.63,65.91,65.18,64.78,63.93,63.19
32,PAPUA BARAT,65.89,65.26,65.09,64.70,63.74,62.99,62.21,61.73,61.28,60.91,60.30,59.90
33,PAPUA,61.39,60.62,60.44,60.84,60.06,59.09,58.05,57.25,56.75,56.25,55.55,55.01
34,INDONESIA,72.91,72.29,71.94,71.92,71.39,70.81,70.18,69.55,68.90,68.31,67.70,67.09

In [29]:
print(data_ipm.isnull().sum())

Provinsi    0
IPM 2022    0
IPM 2021    0
IPM 2020    0
IPM 2019    0
IPM 2018    0
IPM 2017    0
IPM 2016    0
IPM 2015    0
IPM 2014    0
IPM 2013    0
IPM 2012    0
IPM 2011    0
dtype: int64

In [ ]:
list(data_ipm.columns.values)

['Provinsi',
 'IPM 2022',
 'IPM 2021',
 'IPM 2020',
 'IPM 2019',
 'IPM 2018',
 'IPM 2017',
 'IPM 2016',
 'IPM 2015',
 'IPM 2014',
 'IPM 2013',
 'IPM 2012',
 'IPM 2011']

# Data Risiko Penduduk Terkena Tindak Pidana Per 100k Penduduk

In [30]:
#data_rpttp100k  = pd.read_excel('/content/RPTTP100K .xlsx')
data_rpttp100k  = pd.read_csv('https://raw.githubusercontent.com/adamazanos/korelasi_ipm_rpttp100k/main/Risiko%20Penduduk%20Terkena%20Tindak%20Pidana%20(Per%20100.000%20Penduduk)/EDITED%20RPTTP100K/RPTTP100K%20.csv' , sep=';')
data_rpttp100k

,Kepolisian Daerah,RPTTP100K 2021,RPTTP100K 2020,RPTTP100K 2019,RPTTP100K 2018,RPTTP100K 2017,RPTTP100K 2016,RPTTP100K 2015,RPTTP100K 2014,RPTTP100K 2013,RPTTP100K 2012,RPTTP100K 2011,RPTTP100K 2010
0,ACEH,125.0,149.0,144.0,169.0,171.00,193.00,164.00,158.00,181.00,224.00,222.00,225.00
1,SUMATERA UTARA,250.0,231.0,216.0,231.0,280.00,266.00,256.00,268.00,308.00,252.00,285.00,251.00
2,SUMATERA BARAT,103.0,150.0,208.0,243.0,248.00,287.00,317.00,298.00,289.00,297.00,258.00,239.00
3,RIAU,110.0,123.0,99.0,109.0,103.00,134.00,155.00,157.00,159.00,195.00,130.00,158.00
4,JAMBI,104.0,134.0,195.0,180.0,271.00,277.00,316.00,230.00,201.00,209.00,153.00,123.00
5,SUMATERA SELATAN,153.0,147.0,156.0,164.0,190.00,253.00,259.00,290.00,297.00,294.00,265.00,250.00
6,BENGKULU,177.0,172.0,179.0,175.0,252.00,315.00,242.00,215.00,258.00,221.00,196.00,152.00
7,LAMPUNG,115.0,92.0,103.0,108.0,134.00,129.00,115.00,99.00,62.00,56.00,77.00,61.00
8,KEP. BANGKA BELITUNG,108.0,133.0,136.0,143.0,135.00,153.00,140.00,134.00,194.00,497.00,262.00,253.00
9,KEP. RIAU,111.0,127.0,152.0,164.0,176.00,248.00,255.00,240.00,232.00,347.00,348.00,396.00
10,METRO JAYA,277.0,105.0,127.0,137.0,138.00,174.00,181.00,186.00,213.00,256.00,260.00,297.00
11,JAWA BARAT,15.0,29.0,34.0,42.0,65.00,76.00,73.00,71.00,66.00,74.00,80.00,46.00
12,JAWA TENGAH,26.0,31.0,30.0,27.0,35.00,42.00,48.00,49.00,46.00,34.00,47.00,148.00
13,DI YOGYAKARTA,123.0,200.0,177.0,179.0,193.00,227.00,266.00,201.00,191.00,261.00,184.00,512.00
14,JAWA TIMUR,48.0,44.0,69.0,67.0,88.00,74.00,92.00,37.00,45.00,63.00,78.00,47.00
15,BANTEN,27.0,63.0,49.0,54.0,55.00,92.00,101.00,115.00,87.00,76.00,64.00,77.00
16,BALI,55.0,60.0,72.0,76.0,85.00,115.00,123.00,123.00,148.00,144.00,153.00,156.00
17,NUSA TENGGARA BARAT,122.0,167.0,165.0,130.0,164.00,161.00,126.00,156.00,195.00,223.00,204.00,232.00
18,NUSA TENGGARA TIMUR,90.0,88.0,111.0,118.0,127.00,153.00,133.00,131.00,141.00,145.00,120.00,81.00
19,KALIMANTAN BARAT,80.0,76.0,96.0,118.0,122.00,153.00,141.00,179.00,212.00,216.00,216.00,180.00
20,KALIMANTAN TENGAH,91.0,62.0,94.0,102.0,104.00,149.00,110.00,124.00,131.00,132.00,233.00,112.00
21,KALIMANTAN SELATAN,118.0,196.0,130.0,138.0,160.00,181.00,174.00,156.00,188.00,96.00,14.00,55.00
22,KALIMANTAN TIMUR,126.0,100.0,124.0,176.0,214.00,219.00,221.00,230.00,285.00,302.00,296.00,314.00
23,KALIMANTAN UTARA,140.0,146.0,127.0,57.0,-,-,-,-,-,-,-,-
24,SULAWESI UTARA,249.0,252.0,302.0,416.0,324.00,411.00,328.00,263.00,224.00,299.00,496.00,382.00
25,SULAWESI TENGAH,169.0,179.0,211.0,316.0,345.00,334.00,317.00,281.00,286.00,308.00,265.00,493.00
26,SULAWESI SELATAN,166.0,145.0,190.0,255.0,256.00,154.00,166.00,157.00,182.00,204.00,252.00,177.00
27,SULAWESI TENGGARA,91.0,81.0,47.0,49.0,110.00,150.00,149.00,224.00,304.00,303.00,265.00,262.00
28,GORONTALO,208.0,214.0,203.0,243.0,265.00,332.00,302.00,305.00,344.00,271.00,287.00,340.00
29,SULAWESI BARAT,110.0,125.0,148.0,144.0,146.00,-,-,-,-,-,-,-
30,MALUKU,177.0,303.0,200.0,158.0,177.00,152.00,111.00,144.00,135.00,126.00,110.00,292.00
31,MALUKU UTARA,82.0,69.0,59.0,60.0,65.00,94.00,71.00,101.00,108.00,96.00,91.00,198.00
32,PAPUA BARAT,289.0,328.0,325.0,380.0,146.00,257.00,160.00,-,-,-,-,-
33,PAPUA,186.0,208.0,214.0,224.0,208.00,358.00,233.00,214.00,219.00,263.00,250.00,181.00
34,INDONESIA,90.0,94.0,103.0,113.0,129.00,140.00,140.00,131.00,140.00,146.00,149.00,142.00

In [31]:
print(data_rpttp100k.isnull().sum())

Kepolisian Daerah    0
RPTTP100K 2021       0
RPTTP100K 2020       0
RPTTP100K 2019       0
RPTTP100K 2018       0
RPTTP100K 2017       0
RPTTP100K 2016       0
RPTTP100K 2015       0
RPTTP100K 2014       0
RPTTP100K 2013       0
RPTTP100K 2012       0
RPTTP100K 2011       0
RPTTP100K 2010       0
dtype: int64

In [ ]:
list(data_rpttp100k.columns.values)

['Kepolisian Daerah',
 'RPTTP100K 2021',
 'RPTTP100K 2020',
 'RPTTP100K 2019',
 'RPTTP100K 2018',
 'RPTTP100K 2017',
 'RPTTP100K 2016',
 'RPTTP100K 2015',
 'RPTTP100K 2014',
 'RPTTP100K 2013',
 'RPTTP100K 2012',
 'RPTTP100K 2011',
 'RPTTP100K 2010']

#Cleaning Data Mentah

Untuk ipm buang data 'IPM 2022', dan untuk rpttp100k buang data 'RPTTP100K 2010'

In [ ]:
data_ipm_cor = data_ipm.drop(["IPM 2022"],axis = 1)
data_ipm_cor

,Provinsi,IPM 2021,IPM 2020,IPM 2019,IPM 2018,IPM 2017,IPM 2016,IPM 2015,IPM 2014,IPM 2013,IPM 2012,IPM 2011
0,ACEH,72.18,71.99,71.90,71.19,70.60,70.00,69.45,68.81,68.30,67.81,67.45
1,SUMATERA UTARA,72.00,71.77,71.74,71.18,70.57,70.00,69.51,68.87,68.36,67.74,67.34
2,SUMATERA BARAT,72.65,72.38,72.39,71.73,71.24,70.73,69.98,69.36,68.91,68.36,67.81
3,RIAU,72.94,72.71,73.00,72.44,71.79,71.20,70.84,70.33,69.91,69.15,68.90
4,JAMBI,71.63,71.29,71.26,70.65,69.99,69.62,68.89,68.24,67.76,66.94,66.14
5,SUMATERA SELATAN,70.24,70.01,70.02,69.39,68.86,68.24,67.46,66.75,66.16,65.79,65.12
6,BENGKULU,71.64,71.40,71.21,70.64,69.95,69.33,68.59,68.06,67.50,66.61,65.96
7,LAMPUNG,69.90,69.69,69.57,69.02,68.25,67.65,66.95,66.42,65.73,64.87,64.20
8,KEP. BANGKA BELITUNG,71.69,71.47,71.30,70.67,69.99,69.55,69.05,68.27,67.92,67.21,66.59
9,KEP. RIAU,75.79,75.59,75.48,74.84,74.45,73.99,73.75,73.40,73.02,72.36,71.61
10,DKI JAKARTA,81.11,80.77,80.76,80.47,80.06,79.60,78.99,78.39,78.08,77.53,76.98
11,JAWA BARAT,72.45,72.09,72.03,71.30,70.69,70.05,69.50,68.80,68.25,67.32,66.67
12,JAWA TENGAH,72.16,71.87,71.73,71.12,70.52,69.98,69.49,68.78,68.02,67.21,66.64
13,DI YOGYAKARTA,80.22,79.97,79.99,79.53,78.89,78.38,77.59,76.81,76.44,76.15,75.93
14,JAWA TIMUR,72.14,71.71,71.50,70.77,70.27,69.74,68.95,68.14,67.55,66.74,66.06
15,BANTEN,72.72,72.45,72.44,71.95,71.42,70.96,70.27,69.89,69.47,68.92,68.22
16,BALI,75.69,75.50,75.38,74.77,74.30,73.65,73.27,72.48,72.09,71.62,70.87
17,NUSA TENGGARA BARAT,68.65,68.25,68.14,67.30,66.58,65.81,65.19,64.31,63.76,62.98,62.14
18,NUSA TENGGARA TIMUR,65.28,65.19,65.23,64.39,63.73,63.13,62.67,62.26,61.68,60.81,60.24
19,KALIMANTAN BARAT,67.90,67.66,67.65,66.98,66.26,65.88,65.59,64.89,64.30,63.41,62.35
20,KALIMANTAN TENGAH,71.25,71.05,70.91,70.42,69.79,69.13,68.53,67.77,67.41,66.66,66.38
21,KALIMANTAN SELATAN,71.28,70.91,70.72,70.17,69.65,69.05,68.38,67.63,67.17,66.68,65.89
22,KALIMANTAN TIMUR,76.88,76.24,76.61,75.83,75.12,74.59,74.17,73.82,73.21,72.62,72.02
23,KALIMANTAN UTARA,71.19,70.63,71.15,70.56,69.84,69.20,68.76,68.64,67.99,-,-
24,SULAWESI UTARA,73.30,72.93,72.99,72.20,71.66,71.05,70.39,69.96,69.49,69.04,68.31
25,SULAWESI TENGAH,69.79,69.55,69.50,68.88,68.11,67.47,66.76,66.43,65.79,65,64.27
26,SULAWESI SELATAN,72.24,71.93,71.66,70.90,70.34,69.76,69.15,68.49,67.92,67.26,66.65
27,SULAWESI TENGGARA,71.66,71.45,71.20,70.61,69.86,69.31,68.75,68.07,67.55,67.07,66.52
28,GORONTALO,69.00,68.68,68.49,67.71,67.01,66.29,65.86,65.17,64.70,64.16,63.48
29,SULAWESI BARAT,66.36,66.11,65.73,65.10,64.30,63.60,62.96,62.24,61.53,61.01,60.63
30,MALUKU,69.71,69.49,69.45,68.87,68.19,67.60,67.05,66.74,66.09,65.43,64.75
31,MALUKU UTARA,68.76,68.49,68.70,67.76,67.20,66.63,65.91,65.18,64.78,63.93,63.19
32,PAPUA BARAT,65.26,65.09,64.70,63.74,62.99,62.21,61.73,61.28,60.91,60.30,59.90
33,PAPUA,60.62,60.44,60.84,60.06,59.09,58.05,57.25,56.75,56.25,55.55,55.01
34,INDONESIA,72.29,71.94,71.92,71.39,70.81,70.18,69.55,68.90,68.31,67.70,67.09

In [ ]:
data_rpttp100k_cor = data_rpttp100k.drop(["RPTTP100K 2010"],axis = 1)
data_rpttp100k_cor

,Kepolisian Daerah,RPTTP100K 2021,RPTTP100K 2020,RPTTP100K 2019,RPTTP100K 2018,RPTTP100K 2017,RPTTP100K 2016,RPTTP100K 2015,RPTTP100K 2014,RPTTP100K 2013,RPTTP100K 2012,RPTTP100K 2011
0,ACEH,125.0,149.0,144.0,169.0,171.00,193.00,164.00,158.00,181.00,224.00,222.00
1,SUMATERA UTARA,250.0,231.0,216.0,231.0,280.00,266.00,256.00,268.00,308.00,252.00,285.00
2,SUMATERA BARAT,103.0,150.0,208.0,243.0,248.00,287.00,317.00,298.00,289.00,297.00,258.00
3,RIAU,110.0,123.0,99.0,109.0,103.00,134.00,155.00,157.00,159.00,195.00,130.00
4,JAMBI,104.0,134.0,195.0,180.0,271.00,277.00,316.00,230.00,201.00,209.00,153.00
5,SUMATERA SELATAN,153.0,147.0,156.0,164.0,190.00,253.00,259.00,290.00,297.00,294.00,265.00
6,BENGKULU,177.0,172.0,179.0,175.0,252.00,315.00,242.00,215.00,258.00,221.00,196.00
7,LAMPUNG,115.0,92.0,103.0,108.0,134.00,129.00,115.00,99.00,62.00,56.00,77.00
8,KEP. BANGKA BELITUNG,108.0,133.0,136.0,143.0,135.00,153.00,140.00,134.00,194.00,497.00,262.00
9,KEP. RIAU,111.0,127.0,152.0,164.0,176.00,248.00,255.00,240.00,232.00,347.00,348.00
10,METRO JAYA,277.0,105.0,127.0,137.0,138.00,174.00,181.00,186.00,213.00,256.00,260.00
11,JAWA BARAT,15.0,29.0,34.0,42.0,65.00,76.00,73.00,71.00,66.00,74.00,80.00
12,JAWA TENGAH,26.0,31.0,30.0,27.0,35.00,42.00,48.00,49.00,46.00,34.00,47.00
13,DI YOGYAKARTA,123.0,200.0,177.0,179.0,193.00,227.00,266.00,201.00,191.00,261.00,184.00
14,JAWA TIMUR,48.0,44.0,69.0,67.0,88.00,74.00,92.00,37.00,45.00,63.00,78.00
15,BANTEN,27.0,63.0,49.0,54.0,55.00,92.00,101.00,115.00,87.00,76.00,64.00
16,BALI,55.0,60.0,72.0,76.0,85.00,115.00,123.00,123.00,148.00,144.00,153.00
17,NUSA TENGGARA BARAT,122.0,167.0,165.0,130.0,164.00,161.00,126.00,156.00,195.00,223.00,204.00
18,NUSA TENGGARA TIMUR,90.0,88.0,111.0,118.0,127.00,153.00,133.00,131.00,141.00,145.00,120.00
19,KALIMANTAN BARAT,80.0,76.0,96.0,118.0,122.00,153.00,141.00,179.00,212.00,216.00,216.00
20,KALIMANTAN TENGAH,91.0,62.0,94.0,102.0,104.00,149.00,110.00,124.00,131.00,132.00,233.00
21,KALIMANTAN SELATAN,118.0,196.0,130.0,138.0,160.00,181.00,174.00,156.00,188.00,96.00,14.00
22,KALIMANTAN TIMUR,126.0,100.0,124.0,176.0,214.00,219.00,221.00,230.00,285.00,302.00,296.00
23,KALIMANTAN UTARA,140.0,146.0,127.0,57.0,-,-,-,-,-,-,-
24,SULAWESI UTARA,249.0,252.0,302.0,416.0,324.00,411.00,328.00,263.00,224.00,299.00,496.00
25,SULAWESI TENGAH,169.0,179.0,211.0,316.0,345.00,334.00,317.00,281.00,286.00,308.00,265.00
26,SULAWESI SELATAN,166.0,145.0,190.0,255.0,256.00,154.00,166.00,157.00,182.00,204.00,252.00
27,SULAWESI TENGGARA,91.0,81.0,47.0,49.0,110.00,150.00,149.00,224.00,304.00,303.00,265.00
28,GORONTALO,208.0,214.0,203.0,243.0,265.00,332.00,302.00,305.00,344.00,271.00,287.00
29,SULAWESI BARAT,110.0,125.0,148.0,144.0,146.00,-,-,-,-,-,-
30,MALUKU,177.0,303.0,200.0,158.0,177.00,152.00,111.00,144.00,135.00,126.00,110.00
31,MALUKU UTARA,82.0,69.0,59.0,60.0,65.00,94.00,71.00,101.00,108.00,96.00,91.00
32,PAPUA BARAT,289.0,328.0,325.0,380.0,146.00,257.00,160.00,-,-,-,-
33,PAPUA,186.0,208.0,214.0,224.0,208.00,358.00,233.00,214.00,219.00,263.00,250.00
34,INDONESIA,90.0,94.0,103.0,113.0,129.00,140.00,140.00,131.00,140.00,146.00,149.00

Ditemukan ada data kosong di data set RPTTP100K pada provinsi

1.   KALIMANTAN UTARA tahun 2017 - 2010

2.   SULAWESI BARAT tahun 2016 - 2010

3.   PAPUA BARAT tahun 2014 - 2010

Jadi data tahun tersebut akan di drop

#Gabung data

In [ ]:
df_korelasi_2021 = pd.concat([data_ipm_cor['IPM 2021'], data_rpttp100k_cor['RPTTP100K 2021']],axis=1)
df_korelasi_2020 = pd.concat([data_ipm_cor['IPM 2020'], data_rpttp100k_cor['RPTTP100K 2020']],axis=1)
df_korelasi_2019 = pd.concat([data_ipm_cor['IPM 2019'], data_rpttp100k_cor['RPTTP100K 2019']],axis=1)
df_korelasi_2018 = pd.concat([data_ipm_cor['IPM 2018'], data_rpttp100k_cor['RPTTP100K 2018']],axis=1)

#data frame bermasalah
df_korelasi_2017

In [ ]:
data_rpttp100k_2017 = data_rpttp100k_cor.drop([23])
data_rpttp100k_2017

,Kepolisian Daerah,RPTTP100K 2021,RPTTP100K 2020,RPTTP100K 2019,RPTTP100K 2018,RPTTP100K 2017,RPTTP100K 2016,RPTTP100K 2015,RPTTP100K 2014,RPTTP100K 2013,RPTTP100K 2012,RPTTP100K 2011
0,ACEH,125.0,149.0,144.0,169.0,171.00,193.00,164.00,158.00,181.00,224.00,222.00
1,SUMATERA UTARA,250.0,231.0,216.0,231.0,280.00,266.00,256.00,268.00,308.00,252.00,285.00
2,SUMATERA BARAT,103.0,150.0,208.0,243.0,248.00,287.00,317.00,298.00,289.00,297.00,258.00
3,RIAU,110.0,123.0,99.0,109.0,103.00,134.00,155.00,157.00,159.00,195.00,130.00
4,JAMBI,104.0,134.0,195.0,180.0,271.00,277.00,316.00,230.00,201.00,209.00,153.00
5,SUMATERA SELATAN,153.0,147.0,156.0,164.0,190.00,253.00,259.00,290.00,297.00,294.00,265.00
6,BENGKULU,177.0,172.0,179.0,175.0,252.00,315.00,242.00,215.00,258.00,221.00,196.00
7,LAMPUNG,115.0,92.0,103.0,108.0,134.00,129.00,115.00,99.00,62.00,56.00,77.00
8,KEP. BANGKA BELITUNG,108.0,133.0,136.0,143.0,135.00,153.00,140.00,134.00,194.00,497.00,262.00
9,KEP. RIAU,111.0,127.0,152.0,164.0,176.00,248.00,255.00,240.00,232.00,347.00,348.00
10,METRO JAYA,277.0,105.0,127.0,137.0,138.00,174.00,181.00,186.00,213.00,256.00,260.00
11,JAWA BARAT,15.0,29.0,34.0,42.0,65.00,76.00,73.00,71.00,66.00,74.00,80.00
12,JAWA TENGAH,26.0,31.0,30.0,27.0,35.00,42.00,48.00,49.00,46.00,34.00,47.00
13,DI YOGYAKARTA,123.0,200.0,177.0,179.0,193.00,227.00,266.00,201.00,191.00,261.00,184.00
14,JAWA TIMUR,48.0,44.0,69.0,67.0,88.00,74.00,92.00,37.00,45.00,63.00,78.00
15,BANTEN,27.0,63.0,49.0,54.0,55.00,92.00,101.00,115.00,87.00,76.00,64.00
16,BALI,55.0,60.0,72.0,76.0,85.00,115.00,123.00,123.00,148.00,144.00,153.00
17,NUSA TENGGARA BARAT,122.0,167.0,165.0,130.0,164.00,161.00,126.00,156.00,195.00,223.00,204.00
18,NUSA TENGGARA TIMUR,90.0,88.0,111.0,118.0,127.00,153.00,133.00,131.00,141.00,145.00,120.00
19,KALIMANTAN BARAT,80.0,76.0,96.0,118.0,122.00,153.00,141.00,179.00,212.00,216.00,216.00
20,KALIMANTAN TENGAH,91.0,62.0,94.0,102.0,104.00,149.00,110.00,124.00,131.00,132.00,233.00
21,KALIMANTAN SELATAN,118.0,196.0,130.0,138.0,160.00,181.00,174.00,156.00,188.00,96.00,14.00
22,KALIMANTAN TIMUR,126.0,100.0,124.0,176.0,214.00,219.00,221.00,230.00,285.00,302.00,296.00
24,SULAWESI UTARA,249.0,252.0,302.0,416.0,324.00,411.00,328.00,263.00,224.00,299.00,496.00
25,SULAWESI TENGAH,169.0,179.0,211.0,316.0,345.00,334.00,317.00,281.00,286.00,308.00,265.00
26,SULAWESI SELATAN,166.0,145.0,190.0,255.0,256.00,154.00,166.00,157.00,182.00,204.00,252.00
27,SULAWESI TENGGARA,91.0,81.0,47.0,49.0,110.00,150.00,149.00,224.00,304.00,303.00,265.00
28,GORONTALO,208.0,214.0,203.0,243.0,265.00,332.00,302.00,305.00,344.00,271.00,287.00
29,SULAWESI BARAT,110.0,125.0,148.0,144.0,146.00,-,-,-,-,-,-
30,MALUKU,177.0,303.0,200.0,158.0,177.00,152.00,111.00,144.00,135.00,126.00,110.00
31,MALUKU UTARA,82.0,69.0,59.0,60.0,65.00,94.00,71.00,101.00,108.00,96.00,91.00
32,PAPUA BARAT,289.0,328.0,325.0,380.0,146.00,257.00,160.00,-,-,-,-
33,PAPUA,186.0,208.0,214.0,224.0,208.00,358.00,233.00,214.00,219.00,263.00,250.00
34,INDONESIA,90.0,94.0,103.0,113.0,129.00,140.00,140.00,131.00,140.00,146.00,149.00

In [ ]:
data_ipm_cor_2017 =data_ipm_cor.drop([23])
data_ipm_cor_2017

,Provinsi,IPM 2021,IPM 2020,IPM 2019,IPM 2018,IPM 2017,IPM 2016,IPM 2015,IPM 2014,IPM 2013,IPM 2012,IPM 2011
0,ACEH,72.18,71.99,71.90,71.19,70.60,70.00,69.45,68.81,68.30,67.81,67.45
1,SUMATERA UTARA,72.00,71.77,71.74,71.18,70.57,70.00,69.51,68.87,68.36,67.74,67.34
2,SUMATERA BARAT,72.65,72.38,72.39,71.73,71.24,70.73,69.98,69.36,68.91,68.36,67.81
3,RIAU,72.94,72.71,73.00,72.44,71.79,71.20,70.84,70.33,69.91,69.15,68.90
4,JAMBI,71.63,71.29,71.26,70.65,69.99,69.62,68.89,68.24,67.76,66.94,66.14
5,SUMATERA SELATAN,70.24,70.01,70.02,69.39,68.86,68.24,67.46,66.75,66.16,65.79,65.12
6,BENGKULU,71.64,71.40,71.21,70.64,69.95,69.33,68.59,68.06,67.50,66.61,65.96
7,LAMPUNG,69.90,69.69,69.57,69.02,68.25,67.65,66.95,66.42,65.73,64.87,64.20
8,KEP. BANGKA BELITUNG,71.69,71.47,71.30,70.67,69.99,69.55,69.05,68.27,67.92,67.21,66.59
9,KEP. RIAU,75.79,75.59,75.48,74.84,74.45,73.99,73.75,73.40,73.02,72.36,71.61
10,DKI JAKARTA,81.11,80.77,80.76,80.47,80.06,79.60,78.99,78.39,78.08,77.53,76.98
11,JAWA BARAT,72.45,72.09,72.03,71.30,70.69,70.05,69.50,68.80,68.25,67.32,66.67
12,JAWA TENGAH,72.16,71.87,71.73,71.12,70.52,69.98,69.49,68.78,68.02,67.21,66.64
13,DI YOGYAKARTA,80.22,79.97,79.99,79.53,78.89,78.38,77.59,76.81,76.44,76.15,75.93
14,JAWA TIMUR,72.14,71.71,71.50,70.77,70.27,69.74,68.95,68.14,67.55,66.74,66.06
15,BANTEN,72.72,72.45,72.44,71.95,71.42,70.96,70.27,69.89,69.47,68.92,68.22
16,BALI,75.69,75.50,75.38,74.77,74.30,73.65,73.27,72.48,72.09,71.62,70.87
17,NUSA TENGGARA BARAT,68.65,68.25,68.14,67.30,66.58,65.81,65.19,64.31,63.76,62.98,62.14
18,NUSA TENGGARA TIMUR,65.28,65.19,65.23,64.39,63.73,63.13,62.67,62.26,61.68,60.81,60.24
19,KALIMANTAN BARAT,67.90,67.66,67.65,66.98,66.26,65.88,65.59,64.89,64.30,63.41,62.35
20,KALIMANTAN TENGAH,71.25,71.05,70.91,70.42,69.79,69.13,68.53,67.77,67.41,66.66,66.38
21,KALIMANTAN SELATAN,71.28,70.91,70.72,70.17,69.65,69.05,68.38,67.63,67.17,66.68,65.89
22,KALIMANTAN TIMUR,76.88,76.24,76.61,75.83,75.12,74.59,74.17,73.82,73.21,72.62,72.02
24,SULAWESI UTARA,73.30,72.93,72.99,72.20,71.66,71.05,70.39,69.96,69.49,69.04,68.31
25,SULAWESI TENGAH,69.79,69.55,69.50,68.88,68.11,67.47,66.76,66.43,65.79,65,64.27
26,SULAWESI SELATAN,72.24,71.93,71.66,70.90,70.34,69.76,69.15,68.49,67.92,67.26,66.65
27,SULAWESI TENGGARA,71.66,71.45,71.20,70.61,69.86,69.31,68.75,68.07,67.55,67.07,66.52
28,GORONTALO,69.00,68.68,68.49,67.71,67.01,66.29,65.86,65.17,64.70,64.16,63.48
29,SULAWESI BARAT,66.36,66.11,65.73,65.10,64.30,63.60,62.96,62.24,61.53,61.01,60.63
30,MALUKU,69.71,69.49,69.45,68.87,68.19,67.60,67.05,66.74,66.09,65.43,64.75
31,MALUKU UTARA,68.76,68.49,68.70,67.76,67.20,66.63,65.91,65.18,64.78,63.93,63.19
32,PAPUA BARAT,65.26,65.09,64.70,63.74,62.99,62.21,61.73,61.28,60.91,60.30,59.90
33,PAPUA,60.62,60.44,60.84,60.06,59.09,58.05,57.25,56.75,56.25,55.55,55.01
34,INDONESIA,72.29,71.94,71.92,71.39,70.81,70.18,69.55,68.90,68.31,67.70,67.09

In [ ]:
df_korelasi_2017 = pd.concat([data_ipm_cor_2017['IPM 2017'], data_rpttp100k_2017['RPTTP100K 2017']],axis=1)
df_korelasi_2017

    IPM 2017 RPTTP100K 2017
0      70.60         171.00
1      70.57         280.00
2      71.24         248.00
3      71.79         103.00
4      69.99         271.00
5      68.86         190.00
6      69.95         252.00
7      68.25         134.00
8      69.99         135.00
9      74.45         176.00
10     80.06         138.00
11     70.69          65.00
12     70.52          35.00
13     78.89         193.00
14     70.27          88.00
15     71.42          55.00
16     74.30          85.00
17     66.58         164.00
18     63.73         127.00
19     66.26         122.00
20     69.79         104.00
21     69.65         160.00
22     75.12         214.00
24     71.66         324.00
25     68.11         345.00
26     70.34         256.00
27     69.86         110.00
28     67.01         265.00
29     64.30         146.00
30     68.19         177.00
31     67.20          65.00
32     62.99         146.00
33     59.09         208.00
34     70.81         129.00

In [ ]:
df_korelasi_2021
df_korelasi_2020
df_korelasi_2019
df_korelasi_2018
df_korelasi_2017
print("df korelasi selesai")

df korelasi selesai

In [ ]:
print(df_korelasi_2017.isnull().sum())

IPM 2017          0
RPTTP100K 2017    0
dtype: int64

#Cek korelasi

In [ ]:
df_korelasi_2021.corr()

                IPM 2021  RPTTP100K 2021
IPM 2021        1.000000       -0.054499
RPTTP100K 2021 -0.054499        1.000000

In [ ]:
df_korelasi_2020.corr()

                IPM 2020  RPTTP100K 2020
IPM 2020        1.000000       -0.228536
RPTTP100K 2020 -0.228536        1.000000

In [ ]:
df_korelasi_2019.corr()

                IPM 2019  RPTTP100K 2019
IPM 2019        1.000000       -0.212397
RPTTP100K 2019 -0.212397        1.000000

In [ ]:
df_korelasi_2018.corr()

                IPM 2018  RPTTP100K 2018
IPM 2018        1.000000       -0.156448
RPTTP100K 2018 -0.156448        1.000000

In [ ]:
df_korelasi_2017.corr()

          IPM 2017
IPM 2017       1.0

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns